<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Marcas</title>
</head>
<body>
    <h3>Descubre las Mejores Marcas</h3>
            <p>Explora nuestra colección de las marcas más prestigiosas en el mundo de las motos de alto cilindraje:</p>
            <ul>
                <li><strong>Honda</strong>: Conocida por su fiabilidad y rendimiento superior, Honda ofrece una gama de motos deportivas y touring que combinan tecnología avanzada con una experiencia de conducción inigualable.</li>
                <li><strong>Yamaha</strong>: Innovadora y audaz, Yamaha presenta motos que van desde modelos deportivos con una agilidad impresionante hasta grandes cruisers diseñadas para viajes largos.</li>
                <li><strong>Kawasaki</strong>: Si buscas potencia y diseño agresivo, Kawasaki tiene lo que necesitas. Sus modelos de alto rendimiento son ideales para los amantes de la velocidad.</li>
                <li><strong>Suzuki</strong>: Con una sólida reputación en el mercado, Suzuki ofrece una variedad de motocicletas que destacan por su durabilidad y tecnología innovadora.</li>
                <li><strong>BMW</strong>: Para aquellos que valoran el lujo y la tecnología de última generación, BMW ofrece motos de alto cilindraje que brindan una experiencia premium y comodidad excepcional.</li>
            </ul>
</body>
</html>